#map {
   height: 100%; 
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}   


 #results {
  margin-top: 20px;
} 

#current-location {
  text-align: center;
  margin: 10px;
}

#current-weather-icon {
  width: 25%;
}

.firstHeading {
  font-size: 24px;
}

.trailResultsList {
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  width: 95%;
} 

.trailResultsTitle {
  font-size: 18px;
  font-weight: bold;
}

.trailResultsDesc {
  font-size: 12px;
  line-height: 20px;
}

.trailImage {
  height: 100px;
  width: 100px;
}

div.trails {
  height: 1000px;
  overflow: scroll;
}