#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}   

.full-length {
  height: 100%;
}

#results {
  margin-top: 20px;
}

#current-location {
  text-align: center;
}

#current-weather-icon {
  width: 25%;
}